*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: 0;
}
/* header start here*/
.header{
	position: sticky;
	height: 45px;
	background-color: #000000;
	width: 100%;
}
.header ul{
	list-style-type: none;
}
.header ul li{
	float: left;
}
.header ul li a{
	text-decoration: none;
	padding: 14px 16px;
	display: block;
	color: white;
}
.header ul li a:hover:not(.active){
	background-color: #CCCCCC;
}
li.active:hover{
	background-color:#F44336;
}

/* header  dropdown start here*/
.content{
	display: none;
	background-color: black;
}
.dropdown:hover .content{
	display: block;
}
/* header  dropdown End here*/

/* header End here*/

/* Image slider Start here*/
.imageslide{
	overflow: hidden;
	width: 100%;
}
.imageslide div.slide{
	width: 500%;
	position: relative;
	margin: 0;
	left: 0;
	animation: slider 10s infinite;
}
.imageslide div.slide img{
	float: left;
	width: 20%;
	height: 1020px
	
}
@keyframes slider{
	0%{
		left: 0%;
	}
	25%{
		left: -100%;
	}
	50%{
		left: -200%;
	}
	75%{
		left: -300%;
	}
	100%{
		left: -400%;
	}
}
/* Image slider End here*/


/* Band Start here*/

.brand{
	height: 670px;
	width: 100%;
	background-color: white;
}



.band{
	width: 60%;
	height:670px;
	margin: auto;
	padding: 60px 0;
	
}
h1,h4{
	text-align: center;
	padding: 10px;
}
p{
	text-align: justify;
	margin-bottom: 40px;
}
.profile{
	float: left;
	width: 33.33%;
}
div.image div.profile img{
	height:224px;
	width: 182px;
	margin: 9px;
}
div.image div.profile h3{
margin-left: 77px;
}

/* Band End here*/













