*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: 0;
}
/* header start here*/
.header{
	height: 45px;
	background-color: #000000;
	width: 100%;
}
.header ul{
	list-style-type: none;
}
.header ul li{
	float: left;
}
.header ul li a{
	text-decoration: none;
	padding: 14px 16px;
	display: block;
	color: white;
}
.header ul li a:hover:not(.active){
	background-color: #CCCCCC;
}
li.active:hover{
	background-color:#F44336;
}

/* header  dropdown start here*/
.content{
	display: none;
	background-color: black;
}
.dropdown:hover .content{
	display: block;
}
/* header  dropdown End here*/

/* header End here*/





